node_modules
dist
coverage
.angular
.cache
.next
.turbo

backend/dist
backend/coverage
backend/node_modules
backend/prisma/migrations

frontend/dist
frontend/www
frontend/.angular
frontend/coverage
frontend/node_modules
frontend/src/assets/app-config.js
frontend/ios
frontend/android

RedesignTriluga
*.zip
package-lock.json
backend/package-lock.json
frontend/package-lock.json
